// Importar fuentes
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik:wght@300&display=swap");

// Estilos globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Estilos del cuerpo de la página
body {
  color: #ededed;
  background-color: #1e1e1e;
  padding: 10px;

  // Encabezado de la página
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #2c2c2c;

    // Opciones en el encabezado
    .opciones {
      position: absolute;
      right: 60px;

      a {
        right: 300px;
        font-size: 18px;
        color: #e3e0e0;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.3s;

        &:hover {
          color: rgb(227, 227, 28);
          border-bottom: 1px solid rgb(231, 231, 29);
        }

        &.activo {
          color: rgb(233, 233, 31);
        }
      }
    }
  }

  // Redes sociales en el cuerpo de la página
  .inicio-redes {
    position: relative;
    bottom: 50px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    

    a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid rgb(213, 213, 47);
        border-radius: 50%;
        font-size: 20px;
        color: rgb(213, 213, 47);
        text-decoration: none;
        z-index: 1;
        overflow: hidden;
        transition: .5s;

        &:hover{
          color: #1e1e1e;
        }
        &:before{
          content: '  ';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: rgb(213, 213, 47);
          z-index: -1;
          transition: .5s;
        }
        &:hover::before{
          width: 100%;
        }
    }
}


  // Contenedor principal de contenido
  .inicio-conteiner {
    max-width: 600px;
    margin-left: 10px;

    .descripcion {
      margin-left: 10px;
      
    }

    // Habilidades
    .habilidad {
      display: flex;
      gap: 70px;
      margin-top: 50px;
      margin-bottom: 50px;

      div {
        display: flex;
        flex-direction: column;

        img {
          width: 100px;
          height: 100px;
          transition: transform 0.4s;

          &:hover {
            transform: scale(1.5);
            
          }
        }
      }
    }

    h3 {
      font-size: 40px;
      font-weight: 700;
      color: rgb(213, 213, 47);
    }

    h1 {
      font-size: 45px;
      font-weight: 700;
    }

    p {
      font-size: 19px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }


  .contenedor-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 40px;
    border: 1.5px solid black;
    border-radius: 2px;
    height: 600px;
    width: 492px;

    .proyecto-item{
      display: flex;
      flex-direction:column;
      align-items: center;
      text-align: center;
      
      button{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 80px;
        background-color: #7a2eb4;  
        border: black;
        border-radius: 5px;
        font-size: 15px;
        
        &:hover{
          transition: 1.3s;
          transform: scale(1.2);
        }

        .icon{
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    
    img{
      height: 550px;
      width: 490px;
      
      object-fit: cover;
     
    }
    
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(213, 213, 47);
  }
  
  // Contenido del form ulario
  .form-content {
    margin-left: 10px;
    margin: 5px;
    color: #090909;
    padding: 20px;

    h2 {
      color: #ededed;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 50%;

      label {
        font-size: 17px;
        color: white;
        margin-bottom: 10px;
      }

      input,
      textarea {
        padding: 10px 14px;
        width: 250px;
        background-color: #403f3f;
        border: 0;
        font-size: 15px;
        color: #acaaaa;
        margin-bottom: 20px;
        border-radius: 5px;
        &:focus {
          outline: 1px solid rgb(213, 213, 47);
        }
      }

     

      .btn {
        background-color: rgb(213, 213, 47);
        width: 150px;
        align-items: center;
        cursor: pointer;
        color: black;

        &:hover {
          background-color: rgb(189, 189, 39);
          transition: transform 0.2s;
        }
      }
    }
  }
}

// Contenedor de cuadrícula
