body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001449;
}

form{
    padding: 100px 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    border-radius: 10px;
    text-align: center;
    width: 350px;
}

.entrada{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: #d3d3d3;
    font-size: 35px;
}

label{
    color: #EDFFF0;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FaF1;
    color: #001449;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #001449;
}

.btn{
    font-size: 16px;
    color: #001449;
    border: 0;
    border-radius: 25px;
    background-color: #1fdfe5;
    box-shadow:  0 0 20px rgba(0, 254, 199, 0.4);
    cursor: pointer;
}   

.btn::hover{
    background-color: #001449;
}

@media(max-width:991){

    body{
        padding: 30px;
    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
}

.opciones a{
    position: relative;
    right: 650px;
    padding: 10px;
    font-size: 18px;
    color: #EDFFF0;
    text-decoration-line: 10px;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.opciones a:hover,
.opciones a.activo{
    color: #17f9ff;  
}   