@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik:wght@300&display=swap');

html {
    scroll-behavior: smooth; 
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #ededed;
    background-color: #001449;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nombre {
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.opciones{
    position: absolute;
    right: 60px; 
    

    a {
        right: 300px;
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.3s;
        
    }    
}


.opciones a:hover,
.opciones a.activo {
    color: #17f9ff;
}

.inicio {
    margin-left: 20px;
}

.inicio-conteiner {
    max-width: 600px;
    margin-left: 5px;
}

.inicio-conteiner h1 {
    font-size: 45px;
    font-weight: 700;
}

.inicio-conteiner h3 {
    font-size: 30px;
    font-weight: 700;
    color: #17f9ff;
}

.inicio-conteiner p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.inicio-redes {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.inicio-redes a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #17f9ff;
    border-radius: 50%;
    font-size: 20px;
    color: #17f9ff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.inicio-redes a:hover {
    color: #001449;
}

.inicio-redes a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #17f9ff;
    z-index: -1;
    transition: 0.5s;
}

.inicio-redes a:hover::before {
    width: 100%;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    width: 80%;
    margin: 0 auto;
    h4{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }
    h5{
        font-family: Arial, Helvetica, sans-serif;
    }
}

.caja {
    display: flex; /* Agrega esta línea para alinear verticalmente el contenido */
    flex-direction: column; /* Agrega esta línea para apilar el contenido verticalmente */
    align-items: center; /* Agrega esta línea para centrar el contenido horizontalmente */
    justify-content: center; /* Agrega esta línea para centrar el contenido verticalmente */
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background:transparent;
    margin: 15px;
    
    
}
