@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #ededed;
    background-color: #001449;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nombre{
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.opciones a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.opciones a:hover,
.opciones a.activo{
    color: #17f9ff;  
}   

.inicio{
    height: 100vh;
    
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 0 10%;
}

.inicio-conteiner{
   
    max-width:  600px;
}

.inicio-conteiner h1{
    font-size: 45px;
    font-weight: 700;
}

.inicio-conteiner h3{
    font-size: 30px;
    font-weight: 700;
    color: #17f9ff;
}

.inicio-conteiner p{
    font-size: 16px;

}

.inicio-redes{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.inicio-redes a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #17f9ff;
    border-radius: 50%;
    font-size: 20px;
    color: #17f9ff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.inicio-redes a:hover{
    color: #001449;
}

.inicio-redes a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #17f9ff;
    z-index: -1;
    transition: .5s;
}

.inicio-redes a:hover::before{
    width: 100%;
}

